body {
  margin: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #001529;
  padding: 0.5rem 2rem;
}

.logo-container {
  display: flex;
  height: 2 rem;
  justify-content: center;
  margin-right: auto;
  white-space: nowrap;
}

.nav-logo-title a , h3{
  color: white !important;
  margin: 0 0.5rem !important;
}

.nav-menu{
  display: flex;
}

.nav-link{
  margin: 0 0.5rem;
}

.ant-menu-item-selected {
  background-color: #00c7bd !important;
  border-radius: 10px;
}

.news-row{
  display: flex;
  justify-content: center;
}

.card-container{
  min-height: 15rem !important;
  margin: 1rem;
}

.news-card{
  border-radius: 30px !important;
  border-color: pink !important;
  min-height: 15rem;
}

.card-header-container{
  display: flex;
}

.news-card-img{
  border-radius: 30px;
  width: 100px;
  height: 100px;
  margin-left: 1rem;
}

.news-desc{
  margin-top: 1rem;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
