body {
  margin: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #001529;
  padding: 0.5rem 2rem;
}

.logo-container {
  display: flex;
  height: 2 rem;
  justify-content: center;
  margin-right: auto;
}

.nav-logo-title a , h3{
  color: white !important;
  margin: 0 0.5rem !important;
}

.nav-menu{
  display: flex;
}

.nav-link{
  margin: 0 0.5rem;
}